#option-button, #close-option-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  height: 30px;
  width: 30px;
  z-index: 200;
  cursor: pointer;
}

#open-list-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  height: 30px;
  width: 30px;
  z-index: 200;
  cursor: pointer;
}

#close-list-button {
  position: fixed;
  top: 20px;
  left: 270px;
  display: block;
  height: 20px;
  width: 20px;
  z-index: 240;
  cursor: pointer;
}

#close-option-button {
  top: 23px;
  right: 23px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.item {
  font-size: 10px;
  line-height: 10px;
  opacity: 0.1;
  cursor: pointer;
  color: white;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  bottom: 0;
  height: 100%;
  width: 20%;
  min-width: 300px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  z-index: 230;
  overflow: auto;
  font-size: 10px;
  box-sizing: border-box;
}

.sidebar h1 {
  font-size: 14px;
  color: brown;
  font-weight: bold;
}

.year-event {
  padding-bottom: 10px;
}

.mouse-year {
  position: fixed;
  bottom: 10px;
  left: 50%;
  z-index: 180;
  font-size: 20px;
  font-weight: bold;
  transform: translateX(-50%);
}

.scroll-year {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 180;
  font-size: 20px;
  font-weight: bold;
}

.item-position:hover .item {
  opacity: 0.6;
  overflow: visible;
}

.item-position:hover .item-name {
  opacity: 1;
}

.item-name {
  white-space: nowrap;
  pointer-events: none;
  font-size: 10px;
  position: absolute;
  opacity: 0.7;
}

.house .item-name {
  text-transform: uppercase;
  font-weight: bold;
}

.ruler .item-name, 
.writer .item-name, 
.war .item-name, 
.battle .item-name, 
.monument .item-name, 
.event .item-name, 
.book .item-name, 
.person .item-name {
  /*transform: rotate(-45deg);*/
  transform-origin: bottom left;
  font-size: 10px;
  top: -9px;
}

.period .item-name, .house .item-name {
  width: 100%;
  overflow: hidden;
}

.period:hover .item-name, .house:hover .item-name {
  width: 100%;
  overflow: visible;
}

.item-position {
  position: absolute;
  bottom: 0;
}

.timelines-wrapper {
  position: relative;
}

.timeline {
  position: relative;
  margin-bottom: 10px;
  transition: height 1s;
}

.wiki {
  position: fixed;
  background: white;
  padding: 20px;
  height: 100%;
  top: 0;
  left: 0;
  color: black;
  width: 300px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 210;
  box-sizing: border-box;
}

.close-wiki {
  position: fixed;
  top: 10px;
  left: 270px;
  width: 20px;
  height: 20px;
}

.wiki h1 {
  font-size: 22px;
}

.wiki .extract {
  max-height: 150px;
  overflow: scroll;
}

.wiki-link {
  text-decoration: none;
}

.wiki img {
  display: block;
  max-width: 100%;
  max-height: 300px;
}

.year {
  opacity: 0.6;
}

.year.selected {
  opacity: 1;
  background: rgba(200,200,100, 0.1);
}

.century {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  color: grey;
  z-index: -1;
  border-left: 1px solid rgba(100,100,100, 0.2);
}

.selected-year {
  height: 100%;
  top: 0;
  width: 1px;
  background: red;
  position: absolute;
}

.timeline-name {
  position: absolute;
  bottom: -16px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
  transition: left 0.5s;
  white-space: nowrap;
}

.timeline-bar {
  position: absolute;
  bottom: -16px;
  color: white;
  font-size: 14px;
  height: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.editor {
  font-style: monospace;
  width: 100%;
}

textarea {
  padding: 20px;
  width: 100%;
}

.result {
  padding: 20px;
  background: #CCC;
  width: 100%;
  font-size: 12px;
  max-height: 400px;
  overflow: scroll;
}

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: darkslategrey;
  color: white;
  z-index: 195;
  padding: 30px;
  box-sizing: border-box;
}

.input-field {
  padding-bottom: 20px;
}

.main-menu label {
  font-size: 14px;
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
}
.main-menu select {
  display: block;
  border-radius: 3px;
  height: 30px;
  font-size: 16px;
}

.main-menu input {
  display: block;
  border-radius: 3px;
  height: 30px;
  padding: 0 10px;
  border: none;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .main-menu {
    width: 100%;
  }
  .wiki img {
    max-height: 40%;
  }
  .wiki .extract {
    max-height: 20%;
  }
  .wiki {
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .close-wiki {
    right: 10px;
    left: auto;
  }

  .mouse-year {display: none;}

  .sidebar {
    width: 100%;
  }
}