.item {
  font-size: 10px;
  line-height: 10px;
  opacity: 0.1;
  cursor: pointer;
  color: white;
}

.mouse-year {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  font-size: 20px;
  font-weight: bold;
}

.item-position:hover .item {
  opacity: 0.6;
  overflow: visible;
}

.item-position:hover .item-name {
  opacity: 1;
}

.item-name {
  white-space: nowrap;
  pointer-events: none;
  font-size: 10px;
  position: absolute;
  opacity: 0.7;
}

.house .item-name {
  text-transform: uppercase;
  font-weight: bold;
}

.ruler .item-name, .writer .item-name, .monument .item-name {
  /*transform: rotate(-45deg);*/
  transform-origin: bottom left;
  font-size: 10px;
  top: -11px;
}

.period .item-name, .house .item-name {
  width: 100%;
  overflow: hidden;
}

.period:hover .item-name, .house:hover .item-name {
  width: 100%;
  overflow: visible;
}

.item-position {
  position: absolute;
  bottom: 0;
}

.timelines-wrapper {
  margin-top: 40px;
  position: relative;
}

.timeline {
  position: relative;
  margin-bottom: 10px;
  transition: height 1s;
}

.wiki {
  background: white;
  padding: 20px;
  position: absolute;
  top: 70px;
  left: 5px;
  color: black;
  width: 300px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 100;
}

.wiki img {
  display: block;
  width: 100%;
}

.century-title {
  background: white;
  z-index: 1000;
  position: absolute;
  top: -9px;
}

.century {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  color: grey;
  z-index: -1;
  border-left: 1px solid rgba(100,100,100, 0.2);
}

.century:hover {
  background: rgb(245,245,245);
}

.timeline-name {
  position: absolute;
  bottom: -16px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
  transition: left 0.5s;
  white-space: nowrap;
}

.timeline-bar {
  position: absolute;
  bottom: -16px;
  color: white;
  font-size: 14px;
  height: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.editor {
  font-style: monospace;
  width: 100%;
}

.show-editor {
  position: fixed;
  top: 7px;
  right: 3px;
  z-index: 20000;
}

textarea {
  padding: 20px;
  width: 100%;
}

.result {
  padding: 20px;
  background: #CCC;
  width: 100%;
  font-size: 12px;
  max-height: 400px;
  overflow: scroll;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: darkslategrey;
  color: white;
  z-index: 10000;
}

.main-header label {
  font-size: 12px;
  padding-left: 10px;
}

.main-header h1 {
  display: inline-block;
  font-size: 12px;
  padding: 0 20px;
}

.main-header select, .main-header input {
  margin: 0 20px 0 10px;
}